<nav class='navbar navbar-expand navbar-light bg-light'>
    <a class="navbar-brand">
        Welcome to Xian's Stock Watchlist
    </a>
    <ul class='nav nav-pills'>
        <li *ngIf="!isLoggedIn"><a class='nav-link' [routerLink]="['/register']">Register</a></li>
        <li *ngIf="!isLoggedIn"><a class='nav-link' [routerLink]="['/login']">Login</a></li>
        <li *ngIf="isLoggedIn"><a class='nav-link text-secondary' [routerLink]="['/watchlist']"> Logged in as: {{ username }}. </a></li>
        <li *ngIf="isLoggedIn"><a class='nav-link text-secondary' [routerLink]="['/logout']"> Logout (without saving the current state)</a></li>
    </ul>
</nav>
