<div class="card">
    <div class="card-header">
        {{ pageTitle }}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Add New Stock:</div>
            <div class="col-md-4">
                <!-- <input type='text' [(ngModel)]="listFilter" /> -->
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf='tickers.length'>
                <thead>
                    <tr>
                        <th>Stock Symbol</th>
                        <th>Company</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let ticker of tickers'>
                        <td>{{ ticker.ticker}}</td>
                        <td>{{ ticker.company }}</td>
                        <td>{{ ticker.price | currency }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

All company obj is: {{ this.allCompanies | json }} <br />
selectableCompanies is: {{ this.selectableCompanies | json }}