thead {
    color: #337ab8
}

.dropdown {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
}

.dropdown div {
    padding: 8px;
    cursor: pointer;
}

.dropdown div:hover {
    background-color: #eee;
}

.float-right {
    text-align: right;
}