<div class="card">
    <div class="card-header">
        {{ pageTitle }}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Add New Stock:</div>
            <div class="col-md-4">
                <!-- Search Bar -->
                <input type='text' [(ngModel)]="searchTerm" (input)="filterCompanies()"  placeholder="Please enter a ticker or company name of a stock..."/>
                <div *ngIf="filteredCompanies.length" class="dropdown">
                    <div *ngFor="let ticker of filteredCompanies" (click)="selectCompany(ticker)">
                        {{ ticker }} - {{ selectableCompaneis[ticker] }}
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf='tickers.length'>
                <thead>
                    <tr>
                        <th>Stock Symbol</th>
                        <th>Company</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let ticker of tickers'>
                        <td>{{ ticker.ticker}}</td>
                        <td>{{ ticker.company }}</td>
                        <td>{{ ticker.price | currency }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>